{{!< default}}

<div class="flex flex-row flex-wrap">
    {{#foreach posts}}

    {{#if @first}}
        {{> "post-card-full-width"}} {{!-- partials/card.hbs --}}
    {{/if}}
    {{> "post-card"}} {{!-- partials/card.hbs --}}

    {{/foreach}}
</div>
<button class="gh-button">test</button>
{{pagination}}