/* Global Header
/* ---------------------------------------------------------- */

.gh-head {
    background: inherit;
}

.gh-head a {
    color: inherit;
    text-decoration: none;
}

.gh-head-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Brand
/* ---------------------------------------------------------- */

.gh-head-brand {
    text-align: center;
    word-break: break-all;
    margin-bottom: var(--spacing-4);
}

.gh-head-logo {
    display: block;
    padding: 10px 0;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.2em;
}

.gh-head-logo img {
    max-height: 40px;
}


/* Primary Navigation
/* ---------------------------------------------------------- */

.gh-head-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-4);
}

.gh-head-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.gh-head-menu .nav li {
    margin: 0 1.5vw 0 0;
    padding: 0;
}

.gh-head-menu .nav a {
    display: inline-block;
    padding: 5px 0;
}

.gh-head-menu .nav-current a {
    box-shadow: 0 -1px 0 0 currentcolor inset;
}


/* Secondary Navigation
/* ---------------------------------------------------------- */

.gh-head-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}

.gh-head-actions-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.gh-head-actions-list a:not([class]) {
    display: inline-block;
    margin: 0 var(--spacing-2);
    padding: var(--spacing-1);
    opacity: .38;
}

.gh-head-actions-list a:not([class]):hover {
    opacity: 1;
}

/* Layout Variants
/* ---------------------------------------------------------- */

.gh-head-brandnavactions .gh-head-brand {
    grid-column-start: 1;
}

.gh-head-brandnav .gh-container {
    grid-gap: 0;
    grid-template-columns: auto max-content max-content;
}
.gh-head-brandnav .gh-head-brand {
     grid-column-start: 1;
}
.gh-head-brandnav .gh-head-menu {
    margin-left: 40px;
}
.gh-head-brandnav .gh-head-menu .nav li {
    margin: 0 0 0 1.5vw;
    padding: 0;
}

/* Center Stacked */
.gh-head-stacked .gh-container {
    grid-template-columns: 1fr;
    grid-gap: 2vmin;
}
.gh-head-stacked .gh-head-brand {
     grid-column-start: 1;
     width: 100%;
     max-width: none;
     display: flex;
     justify-content: center;
     text-align: center;
}
.gh-head-stacked .gh-head-menu,
.gh-head-stacked .gh-head-actions,
.gh-head-stacked .gh-head-actions-list {
    justify-content: center;
}
.gh-head-stacked .gh-head-actions a:first-child svg {
    margin-left: 0;
}