.tag-badge-link {
    padding: 2px 4px;
    font-size: smaller;
    font-weight: var(--font-bold);
    background: rgba(255, 255, 255, 0.05);
    color: var(--color-base);
}

.tag-badge-link span {
    mix-blend-mode: screen;
}

/* .tag-badge-link.tag-badge-link--javascript {
    background: #f0db4f;
    color: #323330;
}

.tag-badge-link.tag-badge-link--php {
    background: #787cb5;
    color: #000000;
}

.tag-badge-link.tag-badge-link--react {
    background: #20232a;
    color: #61dafb;
}

.tag-badge-link.tag-badge-link--html {
    background: #e44d26;
    color: #ffffff;
}

.tag-badge-link.tag-badge-link--css {
    background: #264de4;
    color: #ffffff;
}

.tag-badge-link.tag-badge-link--nodejs {
    background: #68a063;
    color: #303030;
} */
