 .tag-badge-link {
    padding: 2px 4px;
    font-size: smaller;
    font-weight: var(--font-bold);
    background: rgba(255, 255, 255, .05);
    color: var(--color-base);
}

.tag-badge-link.tag-badge-link--javascript {
    background: #F0DB4F;
    color: #323330;
}

.tag-badge-link.tag-badge-link--php {
    background: #787CB5;
    color: #000000;
}

.tag-badge-link.tag-badge-link--react {
    background: #20232a;
    color: #61dafb;
}

.tag-badge-link.tag-badge-link--html {
    background: #E44D26;
    color: #FFFFFF;
}

.tag-badge-link.tag-badge-link--css {
    background: #264de4;
    color: #ffffff;
}

.tag-badge-link.tag-badge-link--nodejs {
    background: #68A063;
    color: #303030;
}